<header style="margin-right: -0.93rem; margin-left: -0.93rem">
  <div class="banner">
    <img
      src="https://www.federalpolice.gov.et/img/logos.jpg"
      class="img-fluid"
      alt="Ethiopian Federal Police Commission"
    />
  </div>
  <nav class="navbar navbar-custom navbar-expand-lg">
    <button
      class="navbar-toggler custom-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" style="background-color: white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="container">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
          <li class="nav-item active">
            <a
              class="nav-link"
              href="https://www.federalpolice.gov.et/en/federal/police/home"
              >Home<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              href="https://www.federalpolice.gov.et/en/federal/police/aboutus"
              >About Us</a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              href="https://www.federalpolice.gov.et/en/federal/police/news"
              >News</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Our Service
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/administration/dev/staff"
                >Administrative Tasks</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/crime/investigation"
                >Crime Investigation</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/crime/prevention"
                >Crime Prevention</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/commissioner/general/staff"
                >Logistics</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/college"
                >Education and capacity building</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/hospital"
                >Health Service</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/document/firearm/information"
                >Firearm License</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/document/security/licence"
                >Private Security Institution License</a
              >
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Announcement
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/announcement/emergency"
              >
                Emergency</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/announcement/crime"
              >
                Crime</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/announcement/found/dead"
                >Found Dead</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/announcement/none/emergency"
                >Non-emergency</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/announcement/wanted/person"
                >Wanted Person</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/announcement/missed/asset"
                >Missed Asset</a
              >
            </div>
          </li>

          <li class="nav-item active">
            <a
              class="nav-link"
              href="https://www.federalpolice.gov.et/en/federal/police/bealert"
              >Be Alert!</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Media
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/tv/program"
                >TV Program</a
              >
              <a
                class="dropdown-item"
                href="https://www.federalpolice.gov.et/en/federal/police/radio/program"
                >Radio Program</a
              >
              <a
                class="dropdown-item"
                href="https://www.flickr.com/photos/192645692@N03"
                >Gallery</a
              >
            </div>
          </li>
        </ul>
      </div>
      <span class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          ቋንቋ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            href="https://www.federalpolice.gov.et/am/federal/police/home"
            >አማርኛ</a
          >
        </div>
      </span>
    </div>
  </nav>
  <br />
  <!--/.Navbar -->
</header>
