<header style="margin-right:-0.93rem;margin-left:-0.93rem;">
  <div class="banner">
<img src="https://www.federalpolice.gov.et/img/logos.jpg" class="img-fluid" alt="Ethiopian Federal Police Commission"></div>
<nav class="navbar navbar-custom navbar-expand-lg">
<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon" style="background-color: white;"></span>
</button>
<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
<div class="container">
<ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
  <li class="nav-item active">
                      <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
                  </li>
  <li class="nav-item active">
                      <a class="nav-link" href="">About Us</a>
                  </li>
   <li class="nav-item active">
                      <a class="nav-link" href="">News</a>
                  </li>
  <li class="nav-item active">
                      <a class="nav-link" href="">Be Alert!</a>
                  </li> 
</ul>
</div>
<span class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  ቋንቋ
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="">አማርኛ</a>
</div>
</span>     
</div>
</nav>
<br>
</header>