<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar with Routing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>      
  <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://www.federalpolice.gov.et/front_css/custom.css" rel="stylesheet" type="text/css">
</head>
<body>
<header style="margin-right: -0.93rem; margin-left: -0.93rem">
  <div class="banner">
    <img
      src="https://www.federalpolice.gov.et/img/logos.jpg"
      class="img-fluid"
      alt="Ethiopian Federal Police Commission"
    />
  </div>
  <nav class="navbar navbar-custom navbar-expand-lg">
    <button
      class="navbar-toggler custom-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" style="background-color: white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="container">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ul>
      </div>
      <span class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </span>
      <span>
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ቋንቋ</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">አማርኛ</a>
        </div>
      </span>
    </div>
  </nav>
  <br />
</header>
</body>
</html>
