<div class="container mt-5">
  <h2 class="text-center">Ethiopia Federal Police Private Security Licensing</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <img [src]="imgUrl" class="img-fluid" alt="">
    </div>
    <div class="col-md-8">
      <h4 class="border-bottom pb-2">Licensing for Private Security Companies</h4>
      <p>To ensure public safety and maintain order, the Federal Police requires all private security companies to obtain a license. This rigorous process ensures that all companies adhere to the highest standards of professionalism and ethical conduct, safeguarding the well-being of individuals and communities. The licensing procedure involves several steps, starting with a comprehensive application process that delves into the company's background, experience, and qualifications.</p>

      <h4 class="border-bottom pb-1">Registration Process</h4>
      <p>The registration process for private security companies is designed to be straightforward and accessible, yet thorough. It involves submitting the required documentation, such as proof of company incorporation, insurance certificates, and other relevant credentials. This ensures that the Federal Police has a comprehensive understanding of the company's capabilities and its commitment to upholding security standards..</p>
      <p>Contribute due role to development and prosperity of the nation by respecting and enforcing respect of the constitution and other laws of the land, preventing crime and criminal threats and ensuring prevalence of peace and security through active participation of the people.</p>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <h4 class="border-bottom pb-2"><i class="bi bi-shield"></i> Mission</h4>
      <p>To ensure peace, security and the rule of law in the country by building a professional police force that prevents crime, and investigates crime if committed.</p>
    </div>
    <div class="col-md-6">
      <h4 class="border-bottom pb-2"><i class="bi bi-eye"></i> Vision</h4>
      <p>To see, by 2022 e.c., a police institution which is top among five police institutions in Africa, and that ensures its professionalism, that is inclusive, and loyal to the people.</p>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <h4 class="border-bottom pb-2"><i class="bi bi-star"></i> Values</h4>
      <ul>
        <li>Professionalism</li>
        <li>Integrity</li>
        <li>Respect for Diversity</li>
        <li>Respect for Human Rights</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4 class="border-bottom pb-2"><i class="bi bi-lightbulb"></i> Organization Motto</h4>
      <p>Protect With Courage; Serve With Compassion!</p>
    </div>
  </div>
</div>
