<img src="" >
<style>
  label{
    color: black;
  }
  
</style>
<div>
    <form (ngSubmit)="onSubmit()">
        <br><br><br>
      <label for="username">Username: &nbsp;&nbsp; &nbsp;&nbsp;</label>
      <input type="text" id="username"  name="username" required>
      <br><br><br>
      <label for="password">Password: &nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="password" id="password"  name="password" required>
      <br><br><br>
      <button type="submit">Login</button>
    </form>
  </div>
