@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Broken+Fax&display=swap');

.login-box {
    width: 360px;
    margin: auto;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box mat-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: 0.3s;
  }
  
  .input-box input:focus + label,
  .input-box input:valid + label {
    top: -5px;
    left: 40px;
    color: #333;
    font-size: 12px;
  }
  
  .remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember-forget label {
    font-size: 14px;
    color: #333;
  }
  
  .remember-forget a {
    color: #007bff;
    text-decoration: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  .register-link {
    margin-top: 20px;
  }
  
  .register-link p {
    font-size: 14px;
    color: #333;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  