.file-upload-form {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* background: linear-gradient(to bottom right, #4f8dfb, #9ce7f5); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .file-upload-form h2 {
    margin-bottom: 20px;
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000;
    font-weight: bold;
  }
  

  .form-group input[type="text"],
  .form-group input[type="file"],
  .form-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group input[type="text"] {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
 
  .file-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  

  .file-input-wrapper input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    flex: 1;
  }
  

  .file-input-wrapper mat-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    color: #555;
  }
  
  /* Submit button styles */
  .file-upload-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .file-upload-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  