<div class="side-by-side">
    <div>
      <h3>Applicant's Personal Information (File 1)</h3>
      <ul>
        <li>Full Name</li>
        <li>Date of Birth</li>
        <li>Nationality</li>
        <li>Address</li>
        <li>Contact Information (Phone, Email)</li>
        <li>National ID</li>
        <li>Number of High-resolution photos of the applicant</li>
        <li>Finger Print</li>
        <li>Medical Certificate</li>
        <li>Job Experience Details</li>
        <li>Education Certifications</li>
        <li>Personal ID</li>
      </ul>
    </div>
    <div>
      <h3>Information about the Aimed Security Agency (File 2)</h3>
      <ul>
        <li>The name of the private security company</li>
        <li>Business name designation</li>
        <li>Business pre-registration</li>
        <li>Business license</li>
        <li>Verification of labor and social competence</li>
        <li>Tin number</li>
        <li>Organization structure</li>
        <li>Articles of Association</li>
        <li>Employment form</li>
        <li>Guarantee form</li>
        <li>Internal regulations</li>
        <li>Logo</li>
        <li>Bank statement</li>
        <li>Lease contract</li>
        <li>Uniform sample photo</li>
        <li>Company ID</li>
      </ul>
    </div>
  </div>