<br><br><br><footer style="margin-right:-0.93rem;margin-left:-0.93rem;">
    <!-- Must have navigation and social media icons -->
<br>
<div class="upper-footer">
<div class="container">
      <div class="row">
    <div class="col-md-4">
    <div class="footer-usefull">
      <h4 style="color: #dcc380">Usefull Links</h4>
      <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href=""> bereket</a></li>
                  <li class="list-group-item"><a href=""> yabsira</a></li>
                  <li class="list-group-item"><a href=""> biruk</a> </li>
                  <li class="list-group-item"><a href=""> Press Release</a> </li>
                  <li class="list-group-item"><a href=""> beeret</a> </li>
                                      </ul>
    </div>
    </div>
    <div class="col-md-4">
    <div class="footer-legal">
      <h4 style="color: #dcc380">Legal Documents</h4>
      <ul class="list-group list-group-flush list-group_custom">
                                    <li class="list-group-item"><a href="https://www.federalpolice.gov.et/en/federal/police/document/security/licence">Private Security Institution License</a></li>
                  <li class="list-group-item"><a href="https://www.federalpolice.gov.et/en/federal/police/document/security/licence">Firearm License</a></li>
                  <li class="list-group-item"><a href="https://www.federalpolice.gov.et/en/federal/police/document/law"> Law</a></li>
                  <li class="list-group-item"><a href="https://www.federalpolice.gov.et/en/federal/police/document/rule/regulation"> Rule and Regulation</a> </li>
                  <li class="list-group-item"><a href="https://www.federalpolice.gov.et/en/federal/police/document/proclamation"> Proclamations</a> </li>
                                     </ul>
    </div>
    </div>

    <div class="col-md-4">
    <div class="footer-address">
    <h4 style="color: #dcc380">Our Address</h4>
      <hr>
      <i class="fa fa-map-marker" aria-hidden="true" style="font-size:25px;color:#dcc380;"></i>&nbsp;&nbsp;&nbsp;<a href="https://www.google.com/maps/place/%E1%8D%8C%E1%8B%B5%E1%88%AB%E1%88%8D+%E1%8D%96%E1%88%8A%E1%88%B5+%E1%8B%8B%E1%8A%93+%E1%88%98%E1%88%B5%E1%88%AD%E1%8B%AB+%E1%89%A4%E1%89%B5+%7C+%E1%88%9C%E1%8A%AD%E1%88%B2%E1%8A%AE/@9.0096497,38.7413356,17z/data=!3m1!4b1!4m5!3m4!1s0x164b85da73bc9cd7:0x4c5ba0a6184c1fa8!8m2!3d9.0095561!4d38.7434367" style="color: #dcc380"> Mexico Adebabay,Addis Abeba , Ethiopia</a>
      <hr>
      <i class="fa fa-phone" aria-hidden="true" style="font-size:25px;color:#dcc380;"></i>&nbsp;&nbsp;&nbsp;<a style="color: #dcc380">   +251 118 886 228 </a>
      <hr>
      <i class="fa fa-envelope-o" aria-hidden="true" style="font-size:25px;color:#dcc380;">&nbsp;&nbsp;&nbsp;</i>  <a style="color: #dcc380">ethiopiafederalpolice&#64;gmail.com</a>
      <hr>
      <i class="fa fa-facebook" aria-hidden="true" style="font-size:25px;color:#dcc380;"></i>  <a href="https://www.facebook.com/CIB.FEDERALPOLICE" style="color: #dcc380">&nbsp;&nbsp;Crime Investigation Facebook page</a>
      <hr>
      <div class="social-media">
      <div class="social-media-icon" style="text-align:left;">
            <a href="https://www.facebook.com/EthiopianFederalPolice1"><i class="fa fa-facebook" style="font-size:25px;color:#dcc380;"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="https://t.me/efp2014"><i class="fa fa-telegram" style="font-size:25px;color:#dcc380;"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="https://twitter.com/EthiopiaPolice"><i class="fa fa-twitter" style="font-size:25px;color:#dcc380;"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="https://www.youtube.com/c/ethiopianfederalpolice"><i class="fa fa-youtube" style="font-size:25px;color:#dcc380;"> </i></a>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>
<div class="copyright text-center p-3" style="width:100%; background-color:#0c2a4c; color:#dcc380">
     ©<span>2022 - Ethiopian Federal Police</span>
    </div>
</div>
    </footer>
