<html>
  <head>
    <title>EFP - Home</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="csrf-token"
      content="VFKXt4oKgKwXG30nKxGhKW0SYN2fH6CA5ayGTI0B"
    />

    <style id="monica-reading-highlight-style">
      .monica-reading-highlight {
        animation: fadeInOut 1.5s ease-in-out;
      }

      @keyframes fadeInOut {
        0%,
        100% {
          background-color: transparent;
        }
        30%,
        70% {
          background-color: rgba(2, 118, 255, 0.2);
        }
      }
    </style>
  </head>
  <body monica-version="5.9.0" monica-id="ofpnmcalabcbjgholdjcjblkibolbppb">
    <div class="container-fluid">
      <main>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="main_slider">
                <div id="demo" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/448790119_848103557348029_4447604154079015694_n_1719099554.jpg"
                        alt="አቅም ግንባታ"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/FB_IMG_1717670504782_1717692396.jpg"
                        alt="ኮሚሽነር"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/ጀኀገጀጀገጀኀ_1717528750.jpg"
                        alt="ስነ ስርዓት"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1515_1717485624.jpg"
                        alt="ዲፕሎማሲ 2"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      
                    </div>
                    <div class="carousel-item active">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/FB_IMG_1716527901010_1716549845.jpg"
                        alt="የኮሚሽነሮች ጉባዔ"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/441954692_831545532337165_9082042062500383957_n_1716491260.jpg"
                        alt="CEC 03"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/441963711_831545699003815_6057083423080799827_n_1716491028.jpg"
                        alt="PM &amp; CG"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/22_1716490959.jpg"
                        alt="CEC"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/IMG_20240523_071013_262_1716458890.jpg"
                        alt="EFP App"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (2)_1716288568.jpg"
                        alt="የልዩ ፀረ ሽብር መምሪያ 02"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (7)_1716288533.jpg"
                        alt="ዲፕሎማሲ 03"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (5)_1716288504.jpg"
                        alt="ቴክኖሎጂ 02"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (1)_1716288381.jpeg"
                        alt="የግሎባል ሴኪውሪቲ የቦርድ አባል"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (8)_1716288315.jpg"
                        alt="ዲፕሎማሲ 01"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (3)_1716288268.jpg"
                        alt="ምርመራ 01"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (2)_1716288226.jpeg"
                        alt="ጉብኝት 01"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (1)_1716288172.jpg"
                        alt="የልዩ ፀረ ሽብር መምሪያ 01"
                        style="width: 100%"
                      />
                    </div>
                  </div>
                  <!-- Left and right controls -->
                  <a
                    class="carousel-control-prev"
                    href="#demo"
                    data-slide="prev"
                  >
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#demo"
                    data-slide="next"
                  >
                    <span class="carousel-control-next-icon"></span>
                  </a>
                  <style>
                    .banner {
                      float: right;
                    }
                    .head {
                      float: left;
                      margin: 0 auto;
                    }
                  </style>
                  <p></p>
                  <h3>
                    <b
                      >የግል ጥበቃ አገልግሎት ሰጪ ድርጅት ብቃት ማረጋገጫ የምስክር ወረቀት ለመውሰድ ሲቋቋም
                      ሊያሟሉት የሚገቡ መስፈርቶች <br />
                    </b>
                  </h3>
                  <div class="head">
                    <b>
                      <br />
                       የግል ጥበቃ ድርጅቱ ስም<br />
                       የንግድ ስም ስያሜ<br />
                       የንግድ ቅድመ ምዝገባ<br />
                       የንግድ ፍቃድ<br />
                       የሰራተኛና ማህብራዊ ብቃት ማረጋገጫ<br />
                       ቲን ነምበር<br />
                       የድርጅቱ መዋቅር<br />
                       መመስረቻ ጽሁፍ<br />
                       መመስረቻ ጽሁፍ<br />
                       የቅጥር ፎርም<br />
                       የዋስትና ፎርም<br />
                       የውስጥ መተዳደሪያ ደንብ<br />
                       አርማ<br
                    /></b>
                  </div>
                  <div class="banner">
                    <b
                      > የባንክ ስቴትመንት<br />
                       የቤት ኪራይ ውል<br />
                       የዩኒፎርም ናሙና ፎቶ<br />
                       የሰራተኞች መታወቂያ ፊቱ<br />
                       የሰራተኞች መታወቂያ ጀርባው<br />
                       የስራ አስኪያጅ ሙሉ ስም<br />
                       አሻራ<br />
                       ሜዲካል<br />
                       የስራ ልምድ<br />
                       ስንብት<br />
                       የት/ት ደረጃ<br />
                       የቀበሌ መታወቂያ<br />
                       የድርጅቱ መታውቂያ<br
                    /></b>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <h5><b>Commissioner General Message</b></h5>
              <hr />
              <img
                src="https://www.federalpolice.gov.et/storage/Images/Commissioner_img/photo_2024-01-31_14-32-26_1715860271.jpg"
                style="width: 100%; height: 250px"
                alt="Commissioner Image"
              />
              <p style="text-align: left"></p>
              <p>
                <em
                  >Contribute due role to development and prosperity<strong
                  > </strong></em
                >of the nation by respecting and enforcing respect of the
                constitution and other laws of the land, preventing crime and
                criminal threats and ensuring prevalence of peace and security
                through active participation of the people
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <hr style="color: #008000; width: 100%; align-items: left" />
            </div>
          </div>
        </div>
      </main>
      <br /><br />
    </div>

    <div id="monica-content-root" class="monica-widget"></div>
  </body>
</html>
