
  <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="Nzrhl8zSt5kEvAflsrejfwLES7m9vIy5gAKXrVm6">
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://federalpolice.gov.et/front_css/custom.css" rel="stylesheet" type="text/css">

    </head>
    <body>
    <div class="container-fluid">
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="main_slider">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item">
                  <img
                    src="https://www.federalpolice.gov.et/storage/Images/Slider_img/448790119_848103557348029_4447604154079015694_n_1719099554.jpg"
                    alt="አቅም ግንባታ" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://www.federalpolice.gov.et/storage/Images/Slider_img/FB_IMG_1717670504782_1717692396.jpg"
                    alt="ኮሚሽነር" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/ጀኀገጀጀገጀኀ_1717528750.jpg"
                    alt="ስነ ስርዓት" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1515_1717485624.jpg"
                    alt="ዲፕሎማሲ 2" style="width: 100%" />
                </div>
                <div class="carousel-item">

                </div>
                <div class="carousel-item active">
                  <img
                    src="https://www.federalpolice.gov.et/storage/Images/Slider_img/FB_IMG_1716527901010_1716549845.jpg"
                    alt="የኮሚሽነሮች ጉባዔ" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://www.federalpolice.gov.et/storage/Images/Slider_img/441954692_831545532337165_9082042062500383957_n_1716491260.jpg"
                    alt="CEC 03" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://www.federalpolice.gov.et/storage/Images/Slider_img/441963711_831545699003815_6057083423080799827_n_1716491028.jpg"
                    alt="PM &amp; CG" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/22_1716490959.jpg" alt="CEC"
                    style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://www.federalpolice.gov.et/storage/Images/Slider_img/IMG_20240523_071013_262_1716458890.jpg"
                    alt="EFP App" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (2)_1716288568.jpg"
                    alt="የልዩ ፀረ ሽብር መምሪያ 02" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (7)_1716288533.jpg"
                    alt="ዲፕሎማሲ 03" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (5)_1716288504.jpg"
                    alt="ቴክኖሎጂ 02" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (1)_1716288381.jpeg"
                    alt="የግሎባል ሴኪውሪቲ የቦርድ አባል" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (8)_1716288315.jpg"
                    alt="ዲፕሎማሲ 01" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (3)_1716288268.jpg"
                    alt="ምርመራ 01" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (2)_1716288226.jpeg"
                    alt="ጉብኝት 01" style="width: 100%" />
                </div>
                <div class="carousel-item">
                  <img src="https://www.federalpolice.gov.et/storage/Images/Slider_img/1 (1)_1716288172.jpg"
                    alt="የልዩ ፀረ ሽብር መምሪያ 01" style="width: 100%" />
                </div>
                
              </div>
              
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>

              <style>
                .banner {
                  float: right;
                }

                .head {
                  float: left;
                  margin: 0 auto;
                }
              </style>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h5><b>Commissioner General Message</b></h5>
          <hr />
          <img
            src="https://www.federalpolice.gov.et/storage/Images/Commissioner_img/photo_2024-01-31_14-32-26_1715860271.jpg"
            style="width: 100%; height: 250px" alt="Commissioner Image" />
          <p style="text-align: left"></p>
          <p>
            <em>Contribute due role to development and prosperity<strong> </strong></em>of the nation by respecting
            and enforcing respect of the
            constitution and other laws of the land, preventing crime and
            criminal threats and ensuring prevalence of peace and security
            through active participation of the people
          </p>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="container">

  <div class="step">
    <h2>Step 1: Create an Account</h2>
    <p>There are two ways to create an account:</p>
    <strong>Option 1:</strong> Register online
    <p>Go to the register and enter the necessary information.</p>
    <p>Confirm your registration by visiting the company in person.</p>
    <strong>Option 2:</strong> Register in person

    <p>Bring all the required information to the company.</p>
    <p>Submit the information, and you will be given an account.</p>
    <strong style="color:rgb(211, 24, 24)">
      <p>NB.After Reading The Steps You Will Find A Button At The End, To Register.</p>
    </strong>
  </div>

  <div class="step active" id="step2">
    <h2>Step 2: Prepare Your Documents</h2>
    <p>Before you begin the application process, make sure you have the following <a routerLink="/documents"
        routerLinkActive="active">DOCUMNETS</a> ready. Take clear photos
      and scans of each document.</p>

  </div>


  <div class="step">
    <h2>Step 3: Convert Documents to PDF</h2>
    <p>Arrange the documents according to the categories mentioned above. Once organized, convert them into two
      separate PDF files: one for your personal information and another for the information about the aimed security
      agency.</p>
    <h3>File Naming Convention:</h3>
    <p>Use clear and consistent names for your PDF files.</p>
    <p>Example: "YourName_Personal_Info.pdf", "Security_Agency_Info.pdf"</p>
  </div>

  <div class="step" id="step4">
    <h2>Step 4: Application Submission</h2>
    <p>Submit the two PDF files through the designated online portal or submission method specified by the Ethiopian
      Federal Police. Ensure that all documents are legible, up-to-date, and meet the specified requirements. We
      appreciate your commitment to becoming a registered Private Security Agent. If you encounter any difficulties
      during the application process, feel free to <a routerLink="/contact-us" routerLinkActive="active"
        (click)="setFromSpecficLink()">Contact-us</a>.</p>
  </div>

  <div class="step">
    <h2>Step 5: Application Outcome Notification</h2>
    <p>After the thorough review of your application, we are pleased to inform you of the following outcomes:</p>
    <ul>
      <li><strong>Application Accepted:</strong> You will receive an email to the address provided, containing your
        login details. With your credentials, you can now access the application portal. From there, you'll have the
        ability to hire employees, manage your team, update your profile, and perform various administrative tasks. We
        appreciate your commitment to maintaining security standards, and we wish you success in your role.</li>
      <li><strong>Application Rejected:</strong> Detailed reasons for the rejection will be provided via email to the
        address you submitted. Carefully review the feedback, address any identified issues, and feel free to reapply.
        We appreciate your interest and encourage you to make the necessary adjustments before submitting a new
        application. Thank you for your understanding and dedication to the registration process.</li>
    </ul>
    <p>Best of luck with your application!</p>
    <a href=""><button class="btn btn-danger">CANCEL</button></a>
    <a routerLink="/register" routerLinkActive="active"><button class="btn btn-success">REGISTER</button></a>
  </div>
</div> 
</body>
</html>